@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&display=swap");

@layer base {
    @font-face {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/Roboto.woff2) format("woff2");
    }
}

.font-baloo {
    font-family: "Baloo Da 2", sans-serif;
}

body.modal-open .pc-sidebar {
    display: none;
}

.exam-card:hover {
    background-color: #b6b2b2; /* or any color you prefer */
    transition: background-color 0.2s ease;
}
